[Unit]
Description=TPPV4 Robot Process
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/tppv4
ExecStart=%h/tppv4/tppv4-robot
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
